body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #1e1e1e;
}
li {
  list-style-type: none;
}
[class*="__container"] {
  max-width: 1206px;
  /* 1176px width + 15px+15px( break points left and right) */
  margin: 0px auto;
}
.wrapper {
  overflow: hidden;
  /* display: none; */
  flex-direction: column;
  min-height: 100%;
}
.header__container {
  display: flex;
  min-height: 101px;
  align-items: center;
}

.contactButton {
  flex: 0 0 215px;
  list-style-type: none;
  display: inline-block;
  font-size: 18px;
  height: 57px;
  background-color: #361404;
  line-height: 23px;
  padding: 17px 25px;
  border-radius: 20px;
  /* transition: 0.3s ease 0s; */
}
.phone {
  width: 17px;
  height: 21px;
}
.buttonTel {
  text-decoration: none;
  color: #f3eeeb;
}
/* !!!!!!!!!!! поміняти */
.contactButton:hover {
  background-color: red;
}

#main-menu {
  display: block;
  padding: 0px 36px;
  font-size: 18px;
  line-height: 23px;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  margin: 0px;
  z-index: 9;
}

/* .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    overflow: auto;
    height: 18px;
    background-color: #ffffff;
    padding: 90px 10px 20px 10px;
    transition: right 0.3s ease 0s;
  }
   .menuIcon,
  .menuIconClose {
    display: none;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 0px 10px;
  }
   */
#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 18px;
}

#main-menu a {
  font-size: 18px;
  text-decoration: none;
  color: #1e1e1e;
  margin: 0px 36px 0px 0px;
}

#main-menu a:hover {
  text-decoration: underline;
  color: #b36445;
}

#hamburger-input {
  display: none;
}

#hamburger-menu {
  position: fixed;
  top: 20px;
  right: 0px;
  width: 50px;
  height: 50px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(
    to bottom,
    black,
    black 20%,
    white 20%,
    white 40%,
    black 40%,
    black 60%,
    white 60%,
    white 80%,
    black 80%,
    black 100%
  );
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: absolute;
  top: 81px;
  right: -250px;
  width: 350px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 9px 0px 20px 10px;
  transition: right 0.3s ease 0s;
  /* margin: 0px 36px 0px 0px; */
}

#hamburger-menu ul {
  background-color: #ffffff;
  padding-right: 0px;
}

#hamburger-menu li {
  list-style-type: none;
}

#hamburger-menu a {
  color: #1e1e1e;
  font-size: 22px;
  text-decoration: none;
  line-height: 27px;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  right: 0;
}
.owner__container {
  display: flex;
  min-height: 619px;
  align-items: center;
  background-image: url(img/main-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.mainPic {
  position: relative;
  width: 67%;
  z-index: 1;
}
.mainPic2 {
  width: 17%;
  position: relative;
  top: 88px;
  left: 67%;
  z-index: 3;
}

.mainPic3 {
  width: 16%;
  position: relative;
  top: 88px;
  left: 84%;
  z-index: 4;
}
.mainPageText {
  font-size: 22px;
}
.dances__container {
  display: flex;
  min-height: 720px;
  align-items: center;
}

.advantages__container {
  display: grid;
  min-height: 720px;
  background-color: #c3b2a8;
}
.workTable {
  position: relative;
  background-color: #f3eeeb;
  width: 829px;
  height: 593px;
  z-index: 3;
}
#schedule {
  background-color: #1e1e1e;
  width: 1280px;
  height: 720px;
}
.shadowShedule {
  position: relative;
  left: 274px;
  top: -560px;
  right: 177px;
  z-index: 1;
}
.menu-links li {
  display: inline;
}

/*
#carouselHero .carousel-inner img {
  object-fit: cover;
  object-position: center;
  height: 90vh;
  overflow: hidden;
}
 */

.footer__container {
  display: block;
  min-height: 720px;
  background-color: #f3eeeb;
}
.location {
  text-align: center;
  display: block;
}
.location h2 {
  font-size: 38px;
  line-height: 48px;
}
.location p {
  font-size: 28px;
  line-height: 35px;
}
.contact1 {
  margin: 0 22px 0 0;
}
.adress {
  display: block;
  color: #1e1e1e;
  font-size: 22px;
  line-height: 28px;
  text-decoration: none;
}
.contact2 {
  height: 250px;
}
.contact3 {
  height: 250px;
}
.footer__container ul {
  margin-top: 74px;
  font-size: 22px;
  line-height: 28px;
  color: red;
}
.contacts a {
  display: inline-block;
  color: #1e1e1e;
  color: red;
  font-size: 22px;
  line-height: 28px;
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
    margin-right: 37px;
  }
  .logo {
    width: 35px;
    height: 22px;
    margin-left: 32px;
  }
  .contactButton {
    width: 140px;
    height: 44px;
    left: 166px;
    top: 55px;
    font-size: 12px;
    text-align: center;
    margin: 16px 17px 10px 10px;
    border-radius: 14px;
    text-align: center;
  }
}
