body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #1e1e1e;
}
li {
  list-style-type: none;
}
[class*="__container"] {
  max-width: 1206px;
  /* 1176px width + 15px+15px( break points left and right) */
  margin: 0px auto;
}
.wrapper {
  overflow: hidden;
  /* display: none; */
  flex-direction: column;
  min-height: 100%;
}
.header__container {
  display: flex;
  min-height: 101px;
  align-items: center;
  
}

.contactButton {
  flex: 0 0 235px;
  list-style-type: none;
  display: inline-block;
  font-size: 18px;
  padding: 14px 38px;
  background-color: #361404;
  line-height: 23px;
  border-radius: 20px;
  /* transition: 0.3s ease 0s; */
}
.phone {
  width: 17px;
  height: 21px;
}
.buttonTel {
  text-decoration: none;
  color: #f3eeeb;
}

.contactButton:hover {
background:#B36445;
box-shadow: 0px 4px 6px rgba(179, 100, 69, 0.35);
}


#main-menu {
  display: block;
  padding: 0px 36px;
  font-size: 18px;
  line-height: 23px;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  margin: 0px;
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 18px;
}

#main-menu a {
  font-size: 18px;
  text-decoration: none;
  color: #1e1e1e;
  margin: 0px 36px 0px 0px;
}

#main-menu a:hover {
  text-decoration: underline;
  color: #b36445;
}

#hamburger-input {
  display: none;
 }

#hamburger-menu {
  position: fixed;
  top: 0;
  right: -30px;
  width: 50px;
  height: 50px;
  display: none;
  border:none;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(
    to bottom,
    black,
    black 20%,
    white 20%,
    white 40%,
    black 40%,
    black 60%,
    white 60%,
    white 80%,
    black 80%,
    black 100%
  );
  z-index: 9;
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: absolute;
  top: 81px;
  right: -250px;
  width: 350px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 9px 0px 20px 30px;
  transition: right 0.3s ease 0s;
  margin:-2px -50px;
}

#hamburger-menu ul {
  background-color: #ffffff;
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;

}

#hamburger-menu a {
  color: #1e1e1e;
  font-size: 22px;
  text-decoration: none;
  line-height: 27px;

}

#hamburger-menu a:hover {
  text-decoration: underline;

}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  right: 0;
 

}
.menu-links li {
  display: inline;
}
.owner__container {
  display: flex;
  min-height: 619px;
  }

.mainPic2 {
  width: 216px;
  position: absolute;
  min-height: 619px;
  top: 100px;
  left: 66%;
  }

.mainPic3 {
  width: 210px;
  min-height: 622px;
  position: absolute;
 top: 100px;
  left: 79%;
  
}
.mainPageText {
  font-size: 22px;
   position: absolute;
   width:410px;
   height:165px;
   text-align:justify;
   top:320px;
   left:540px;
   bottom:225px;
   z-index:5;
}

.buttonMain{
color: #ffffff;
background: #361404;
border-radius: 14px;
text-decoration: none;
text-align: center;
justify-content: center;
position:absolute;
top:530px;
left:545px;
width:210px;
height:56px;
z-index:6;
padding:10px;
}

.buttonMain:hover{
background:#B36445;
box-shadow: 0px 4px 6px rgba(179, 100, 69, 0.35);
}

.dances__container {
  display: flex;
  min-height: 720px;
  align-items: center;
  background-image:url(img/fondance.jpg);
}
.buttonSlaider{
color: #ffffff;
background: #361404;
border-radius: 14px;
text-decoration: none;
padding: 14px 38px;
text-align: center;
display: inline;
position:absolute;
top:540px;
left:660px;

}
.buttonSlaider:hover {
background:#B36445;
box-shadow: 0px 4px 6px rgba(179, 100, 69, 0.35);
}

.slaider1Image{width: 355px;
height: 555px;
position:absolute;
top:82px;
left:155px;
}
.slaider1H3{
color:#B36445;
font-weight: 600;
font-size:28px;
line-height:35px;
position:absolute;
top:105px;
left:660px;
right:525px;
bottom:570px;}

.slaider1Text{
width:370px;
height:275px;
position:absolute;
top:180px;
left:660px;
right:230px;
bottom:250px;
text-align:justify;
}
.slaider1Price{
 display: inline;
position:absolute;
top:490px;
left:660px;
right:300px;
bottom:180px;
}
.slaider2Image{width: 355px;
height: 555px;
position:absolute;
top:82px;
left:155px;
}
.slaider2H3{
color:#B36445;
font-weight: 600;
font-size:28px;
line-height:35px;
position:absolute;
top:105px;
left:660px;
right:525px;
bottom:570px;}

.slaider2Text{
width:370px;
height:275px;
position:absolute;
top:180px;
left:660px;
right:230px;
bottom:250px;
text-align:justify;
}
.slaider2Price{
 display: inline;
position:absolute;
top:490px;
left:660px;
right:300px;
bottom:180px;
}
.slaider3Image{width: 355px;
height: 555px;
position:absolute;
top:82px;
left:155px;
}
.slaider3H3{
color:#B36445;
font-weight: 600;
font-size:28px;
line-height:35px;
position:absolute;
top:105px;
left:660px;
right:525px;
bottom:570px;}

.slaider3Text{
width:370px;
height:275px;
position:absolute;
top:160px;
left:660px;
right:230px;
bottom:250px;
text-align:justify;
}
.slaider3Price{
 display: inline;
position:absolute;
top:490px;
left:660px;
right:300px;
bottom:180px;
}
.slaider4Image{width: 355px;
height: 555px;
position:absolute;
top:82px;
left:155px;
}
.slaider4H3{
color:#B36445;
font-weight: 600;
font-size:28px;
line-height:35px;
position:absolute;
top:105px;
left:660px;
right:525px;
bottom:570px;}

.slaider4Text{
width:370px;
height:275px;
position:absolute;
top:180px;
left:660px;
right:230px;
bottom:250px;
text-align:justify;
}
.slaider4Price{
 display: inline;
position:absolute;
top:490px;
left:660px;
right:300px;
bottom:180px;
}
.slaider5Image{width: 355px;
height: 555px;
position:absolute;
top:82px;
left:155px;
}
.slaider5H3{
color:#B36445;
font-weight: 600;
font-size:28px;
line-height:35px;
position:absolute;
top:105px;
left:660px;
bottom:570px;
}

.slaider5Text{
width:370px;
height:275px;
position:absolute;
top:180px;
left:660px;
right:160px;
bottom:250px;
text-align:justify;
}
.slaider5Price{
 display: inline;
position:absolute;
top:490px;
left:660px;
right:300px;
bottom:180px;
}
/* .carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231e1e1e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231e1e1e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
} */

.pose__container {
  display: flex;
  min-height: 720px;
  background-color: #1e1e1e;
  align-items: center;
}
.dance1 {
  position: absolute;
  padding: 92px 1000px 450px 85px;
}
.dance2 {
  position: absolute;
  padding: 203px 885px 165px 135px;
}
.dance3 {
  position: absolute;
  padding: 95px 430px 290px 430px;
}
.dance4 {
  position: absolute;
  padding: 375px 680px 200px 450px;
}
.dance5 {
  position: absolute;
  padding: 490px 530px 115px 630px;
}
.dance6 {
  position: absolute;
  padding: 195px 280px 435px 900px;
}
.dance7 {
  position: absolute;
  padding: 105px 165px 500px 1000px;
}
.dance8 {
  position: absolute;
  padding: 265px 140px 380px 1060px;
}
.dance9 {
  position: absolute;
  padding: 325px 90px 115px 870px;
}
.advantages__container {
  min-height: 720px;
  font-size: 18px;
  background-color: #c3b2a8;
  text-align:justify;

}
.advantages__container h2 {
  font-size: 38px;
  line-height: 48px;
  padding-top: 65px;
  text-align: center;
}
.adv-item1, .adv-item2, .adv-item3, .adv-item4, .adv-item5{
   text-align: center;
}
.adv2{font-size: 3em;
}
.advantages__container h3{
text-align:center;}

.contain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: 300px 300px 300px; */
  grid-template-rows: 200px 200px;
  margin: 30px 65px;
  grid-row-gap: 40px;
  grid-column-gap: 55px;
  justify-items: center;
}

.schedule__container {
  display: block;
  min-height: 720px;
  background-color: #1e1e1e;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  
  
}
.workTable {
  position: absolute;
  background-color: #f3eeeb;
  min-width: 900px;
  min-height: 600px;
  z-index: 3;
  border-radius: 32px;
  margin: 30px 100px;
}
.workTable th {
  color: #b36445;
  padding-top: 40px;
  padding-bottom: 12px;
  padding-right: 80px;
}
.workTable table {
  margin: 25px 130px 65px;
  line-height: 23px;
  text-align: left;
}
.shadowShedule {
  position: relative;
  z-index: 2;
  min-width: 900px;
  min-height: 500px;
  border-radius: 32px;
  left: 110px;
  top: 70px;
}


.footer__container {
  display: block;
  min-height: 720px;
  background-color: #f3eeeb;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
}

.footer__container h2 {
  font-size: 38px;
  line-height: 48px;
  padding: 65px 0px 30px 0px;
  text-align: center;
}

.location span{
  font-size: 28px;
  line-height: 35px;
  text-align: right;
}
.contact1 {
  margin: 0 22px 0 0;
}
.adress {
  display: block;
  color: #1e1e1e;
  text-decoration: none;
  text-align:center;
  padding-bottom: 10px;
  
}
.contact2 {
  height: 250px;
}
.contact3 {
  height: 250px;
}
.footer__container h3 {
  margin-top: 74px;
  color: #1e1e1e;
  text-align: left;
  padding-left: 140px;
  padding-bottom: 10px;
}
.ins{font-size: 1.5em
}
.contacts li {
  display: inline-block;
  padding-right: 50px;
 
}
.contacts a {
  color: #1e1e1e;
  text-decoration: none; 
  font-size: 22px;
}
/* .insta,
.tel,
.mail {
  width: 40px;
  height: 40px;
  padding-right: 10px;
} */

.contacts :not(#quest) :hover {
color:#B36445;
}

.button {
  color: #ffffff;
  background: #361404;
  border-radius: 14px;
  text-decoration: none;
  padding: 14px 38px;
  text-align: center;
}
.button:hover {
background:#B36445;
box-shadow: 0px 4px 6px rgba(179, 100, 69, 0.35);
}


@media screen and (max-width: 750px) {
  .header__container {
    position:fixed;
    background-color:#FFFFFF;
    z-index: 12;
  }
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
    margin-right: 37px;
  background-color:red;
}
 
  .logo {
    width: 35px;
    height: 22px;
    margin-left: 32px;
  }
  .contactButton {
    width: 100px;
    height: 44px;
    left: 166px;
    top: 55px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    margin: 10px 70px;
    border-radius: 14px;
    flex: 0 0 180px;
    display: block;
  }
    .phone {
    width: 16px;
    height: 15px;
  }
  .owner__container {
    display: flex;
    min-height: 1220px;
    }

.mainPic{
      width:100%;  
      height:500px;
      z-index:7;
      position: absolute;
      top:100px;
      left:-10px;
  }
  .mainPic2 {
    width: 50%;
    position: absolute;
    height: 410px;
    top: 600px;
    left: -20px;
    z-index:3;
    }
  
  .mainPic3 {
    width: 50%;
    height: 410px;
    position: absolute;
   top: 597px;
  left: 40%;
     z-index:3;
  }
  .mainPageText {
    font-size: 12px;
    line-height: 15px;
     position: absolute;
     width:160px;
     height:185px;
     text-align:justify;
     top:320px;
     left:150px;
    z-index:8;
  }
  .buttonMain{
    font-size: 14px;
    top:460px;
    left:150px;
    right:250px;
    width:130px;
    height:40px;
    z-index:8;
    line-height:15px;
    }

  .dances__container {
    display: flex;
    min-height: 520px;
    align-items: center;
    background-image:url(img/fondance.jpg);
    
  }
  
  .buttonSlaider{
   padding: 14px 38px;
    display: inline;
  position:absolute;
  top:640px;
  left:80px;
  font-size: 14px;
 line-height: 15px;
 width:140px;
 height:45px;
 }
 .carousel-control-prev-icon{
  position:absolute;
  top:250px;
  left:10px;
}
.carousel-control-next-icon{
  display:inline;
  top:250px;
   position:absolute;
   right:970px;
  }
   .slaider1Image, 
   .slaider2Image, 
   .slaider3Image, 
   .slaider4Image, 
   .slaider5Image {
    width:230px;
    height:340px;
   position:absolute;
  top:80px;
  left:47px;
  }
  .slaider1H3,
   .slaider2H3, 
   .slaider3H3, 
    .slaider4H3   {
      font-size:24px;
  line-height:35px;
  position:absolute;
  top:30px;
  left:130px;
  } 
  .slaider2H3{
    font-size:24px;
    line-height:35px;
    position:absolute;
    top:30px;
    left:100px;}

  .slaider5H3{
    font-size:24px;
    line-height:35px;
    position:absolute;
    top:30px;
    left:10px;
    }
    .slaider1Text,
     .slaider2Text,
      .slaider3Text, 
      .slaider4Text,
       .slaider5Text{
    font-size: 14px;
line-height: 18px;
  width:280px;
  height:120px;
  position:absolute;
  top:440px;
  left:20px;
   text-align:justify;
  }
  .slaider1Price,
   .slaider2Price, 
   .slaider5Price,
    .slaider4Price{
   display: inline;
   font-size: 14px;
line-height: 18px;
  position:absolute;
  top:600px;
  left:90px;
    }

    .slaider3Price{
      display: inline;
      font-size: 14px;
   line-height: 18px;
     position:absolute;
     top:610px;
     left:90px;
         }

  .pose__container {
    min-height: 720px;
  }
    .dance2 {
      padding: 10px 200px 500px 30px;
        }
        .dance2 {
          position: absolute;
          padding: 203px 885px 165px 135px;
        }
        .dance3 {
          position: absolute;
          padding: 95px 430px 290px 430px;
        }
        .dance4 {
          position: absolute;
          padding: 375px 680px 200px 450px;
        }
        .dance5 {
          position: absolute;
          padding: 490px 530px 115px 630px;
        }
        .dance6 {
          position: absolute;
          padding: 195px 280px 435px 900px;
        }
        .dance7 {
          position: absolute;
          padding: 105px 165px 500px 1000px;
        }
        .dance8 {
          position: absolute;
          padding: 265px 140px 380px 1060px;
        }
        .dance9 {
          position: absolute;
          padding: 325px 90px 115px 870px;
        }







        .advantages__container {
          min-height: 720px;
          font-size: 15px;
          background-color: #c3b2a8;
          text-align:justify;
         
        
        }
        .advantages__container h2 {
          font-size: 22px;
          padding-top: 15px;
     
        }
        .adv-item1, .adv-item2, .adv-item3, .adv-item4, .adv-item5{
           text-align:justify;
           border:1px solid transparent;
           border-radius: 22px;
          
        }
        .adv-item1{
          background: #F0EBE7;
        }
        .adv-item2{
          background: #1E1E1E;
          color: #FFFFFF
        }
  
        .adv-item3{
          background: #FFFFFF;
        }
        .adv-item4 {
          background:#A86246;
        }
        .adv-item5 {
          background: #1E1E1E;
          ;
        }

.adv2{
  display:block;
  text-align: center;
  
}

        .advantages__container h3{
          font-size: 14px;
        text-align:center;
      }

        .advantages__container img{
          display: block;
     margin-left: auto;
    margin-right: auto;
          width:40px;
          height:45px;
          padding-bottom:10px;
        }
      .contain{
        margin:10px 1px;
      }
        .contain p {
         width:300px;
         }





  .location p {
    text-align: center;
  }
  .contacts {
    padding-bottom: 20px;
    text-align: left;
    padding-left: 80px;
  }
  .footer__container h3 {
    padding-left: 10px;
    color: #b36445;
    padding-top: 100px;
  }
  .contacts li {
    padding-bottom: 20px;
    font-size: 14px;
    display: block;
  }
  .footer__container h2 {
    font-size: 22px;
  }
  .location p {
    font-size: 22px;
  }
  .adress {
    font-size: 20px;
    padding-bottom: 10px;
  }
}
